.navbar{
      background-color: black;
      opacity: 0.78;
}
.img{
      height: 100vh;
      width: 100%;     
      background-size: contain;
      position: absolute;
 
}
.logo{
      max-width: 150px;
      height: auto;

}
a{
      color: white;
      font-size: 20px;
        
}
.log-part{
      border-color: white;
      border-width: 2px;
      border-style: solid;
      width: 20rem;
      height: 5rem;
}
