
.header{
      
      background: url('/Frame1.png') no-repeat;
      background-size: contain;
      position: relative;
      background-size: cover;
      position: relative;
      color: white;

}