
.grid-container {
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
}

.grid-container img {
      width: 100%;
      /* Make the image fill the entire container width */
      height: 100%;
      /* Make the image fill the entire container height */
      object-fit: cover;
      /* Ensures the image covers the container while maintaining aspect ratio */
      z-index: -1;
      /* Ensure the image stays behind the navbar */
}